<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quoting Dojo</title>
        <style>
            div.container {
                width: 288px;
                padding: 10px;
                background-color: lightgray;
                margin: auto;
                border-radius: 10px;
            }
            input{
                display:inline-block;
            }
            p{
                display:inline-block;
                width: 153px;
                color:teal;
            }
            input[type='submit']{
                display:block;
                margin-left:187px;
                margin-top: 10px;
                background-color: teal;
                color:white;
                padding: 5px;
                width: 100px;
                border-radius: 5px;
            }
            h2 {
                text-align: center;
                color:teal;
            }
            .users {
                text-align: center;
                width: 288px;
                margin: auto;
            }
            .errors {
                color: red;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class = 'container'>
            <form action='/quotes' method='post'>
                <h2>Welcome to Quoting Dojo</h2>
                <div>
                    <p>Your Name:</p>
                    <input type='text' name='name'> 
                </div>
                <div>
                    <p>Your Quote:</p>
                    <input type='text' name='quote'> 
                </div>
                <input type='submit' value='Add my Quote'>
            </form>
            <form action='/quotes' method='get'>
                <input type='submit' value='Skip to Quotes'>
            </form>
        </div>
        <div class="errors">
            <% JSON.stringify(messages) %> 
                <% if(messages.errorMsg) { %>
                    <% for (var x of messages.errorMsg) { %>
                    <h3><%= x %></h3>
                <% } %>
            <% } %>
        </div>
    </body>
</html>